.aboutus-container {
    margin-top: 5rem;
    font-family: 'Nunito', sans-serif;
    padding: 0 1rem;
    /* color: #333; */
}

.aboutus-headings {
    background-image: url('../../../public/aboutbg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


.aboutus-headings h3 {
    color: #1C3BA4;
    font-size: 3rem;
    margin: 0;
}

.aboutus-headings p {
    color: #1183DC;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
}

.aboutus-mission {
    text-align: center;
    padding: 4rem 1rem;
}

.aboutus-mission h3 {
    color: #009DD1;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.aboutus-mission p {
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
}

.aboutus-impact {
    padding: 4rem 1rem;
    text-align: center;
}

.aboutus-impact h3 {
    color: #009DD1;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.aboutus-profe {
    text-align: center;
    padding: 4rem 1rem;
}

.aboutus-profe h3 {
    font-size: 2.5rem;
    color: #009DD1;
    margin-bottom: 1.5rem;
}

.aboutus-profe p {
    font-size: 1.25rem;
    max-width: 900px;
    margin: 0 auto 2rem;
    line-height: 1.8;
    color: #555;
}

.aboutus-carousel {
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .aboutus-headings h3 {
        font-size: 2.5rem;
    }

    .aboutus-headings p {
        font-size: 1.5rem;
    }

    .aboutus-mission p,
    .aboutus-profe p {
        font-size: 1rem;
    }

    .aboutus-counts>div {
        width: 100%;
        max-width: 300px;
    }
}